<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Category List')">
    <style>
    </style>
</head>
<body>
<div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ctg : ${categoryList}">
        <td><a th:href="@{/cocktails/list/{id}(id=${ctg.id})}" th:text="${ctg.id}"></a></td>
        <td><a th:href="@{/cocktails/list/{id}(id=${ctg.id})}" th:text="${ctg.name}"></a></td>
        <td><a th:href="@{/cocktails/list/{id}(id=${ctg.id})}" th:text="${ctg.description}"></a></td>
    </tr>
    </tbody>
</table>
</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>