<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('cocktail List')"></head>
<body>

<div class="container">
    <div>
        <h1> Ecco la lista dei Cocktail </h1>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Foto</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cocktail : ${cocktailList}">
                <td th:text="${cocktail.name}"></td>
                <td th:text="${cocktail.image}"></td>
                <td th:text="${cocktail.description}"></td>
                <td th:text="${cocktail.price}"></td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>