<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('cocktail List')"></head>
<body>

<div class="container text-center">
    <div>
        <h1> Ecco la lista dei Cocktail </h1>
    </div>

    <div class="row g-5 justify-content-between">
        <div th:each="cocktail : ${cocktailList}" class="card" style="width: 18rem;">
            <img th:src="${cocktail.image}" class="card-img-top" alt="foto">
            <div class="card-body">
                <h5 th:text="${cocktail.name}" class="card-title"></h5>
                <p th:text="${cocktail.description}" class="card-text"></p>
                <p th:text="${cocktail.price}" class="card-text"></p>
            </div>
        </div>
    </div>


</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>